@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <title>@ViewBag.Title | Unicorn Creations</title>
    <meta name="apple-mobile-web-app-title" content="Unicorn Creations">
    <link rel="apple-touch-icon" sizes="114×114" href="~/Static/img/icons/Icon@2x.png" />
    <link rel="apple-touch-icon" sizes="72×72" href="~/Static/img/icons/Icon-72.png" />
    <link rel="apple-touch-icon" href="~/Static/img/icons/Icon.png" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/bundles/css/master")
	
	<link href="@Styles.Url("~/bundles/css/print")" rel="stylesheet" type="text/css" media="print" />
    <script src="~/Static/js/modernizr-2.5.3.js"></script>
	
     <!--[if lt IE 9]>
         <script src="~/Static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    @{ Html.ControlPanel().Render(); }
    
    <div id="wrapper">
        @{ Html.RenderPartial("LayoutPartials/Header"); }

        <div role="main">
            <div id="mainarea">
                @{ Html.RenderPartial("LayoutPartials/PreContent"); }
                @RenderBody()
                @{ Html.RenderPartial("LayoutPartials/PostContent"); }
            </div>
        </div>

        <footer role="contentinfo" id="footer" id="footer">
            @{ Html.RenderPartial("LayoutPartials/Footer"); }
        </footer>
    </div>
	
    @Styles.Render("~/bundles/script/master")
	
    
</body>
</html>
